<div class="contents row">
  <% @diaries.each do |diary| %>
  <% if diary.image.attached? %>
   <div class="more">
   <%= image_tag diary.image.variant(resize: '500x500'), class: 'diary-image' if diary.image.attached? %>
   <div class="more">
        
      </div>
   
          
      </div>
      
      <span class="date">
        <%= diary.date %>
      </span>
      <span class="title">
        <%= diary.title %>
      </span> 
      
        <ul class="more_list">
          <li>
            <%= link_to 'Delete', "/diaries/#{diary.id}", data: { turbo_method: :delete } %>
          </li>
        </ul>
      
      <% end %>
       <% end %>
      
    </div>
 
</div>

 